<%- include('header.ejs'); %>
<%- include('navbar.ejs'); %>

<h1><b>Alcoholism in the United States</b></h1>
<p>In our project, we decided to explore alcohol consumption within the US in order to understand which states have the highest and lowest alcoholism rates. We thought that this topic was important to learn about as we thought alcoholism was quite overlooked in the US, but is a major problem as excessive alcohol use can increase risk for many health problems, such as Alzheimer’s or liver failure. The map below shows both the intensity as well as the prevalence of binge drinking among adults in the United States in 2015. Note that the prevalence of binge drinkers means the amount of alcoholics (as defined in our about page) per state divided by the state's population, and the intensity of binge drinking is how many drinks on average binge drinkers drink per night. </p>
<p>Some things we noticed:</p>
<p> 1. North Dakota had the highest prevalence of binge drinking with 24.9% of the population. It also had very high intensity. Here, the two graphs seem to correlate. However, this was not the case for every state. </p>
<p> 2. Interesting to see that there is no correlation between prevalence and intensity. A state can have a lot of binge-drinkers, but they don't drink a lot of alcohol on average. The converse is also possible. </p>
<p> 3. The minimum prevalence was 10.9%, which is 1/10 of the total population of the state. This seems like a large number of people, but it's important to remember that the actual number will rely on population size of the state. ND has the highest percentage, but in terms of actual number of binge drinkers, actually falls pretty low compared to a state like CA, which has about 6,598,170 alcoholics (prevalence * population size)</p>


<div id ="prevalence"></div>
<script src="js/drinkPrevalence.js"></script>

<div id ="myDiv"></div>
<script src="js/graph.js"></script>

<%- include ('footer.ejs');  %>
